/*The Content Body is here*/
div.body{
	height:700px;
    clear:right;
}

/*The side bar is here*/

div.sidebar{
	margin: 0 0 0 10%;
	width: 10%;
	float: left;
}

div.sidebar td>a, td{
	color: #E6E5E5;
	display: block;
}

div.sidebar td{
	margin-bottom: -0.7%;
}

div.sidebar a{
	background:#002b60;
	padding: 15px 15px;
	text-align: left;
	border-radius: 5px;
}

div.sidebar td#tag1>a{
	background:#0055BD;
}

div.sidebar a:hover{
	background-color: #0055BD;
	color: #F9F9F9;
	cursor: pointer;
}

/*The main content part is here*/

div.maincontent{
	border-radius: 5px;
	margin-top: 0.3%;
	margin-right: 10%;
	background-color: #E6E5E5;
	box-shadow: 0 0 5px #002b60;
	width: 65%;
	height: 80%;
	overflow: auto;
	float: right;
}

div.maincontent div.announcement, div.welcome{
    margin:1% 4%;
}

div.maincontent div.announcement h2, div.welcome h2{
    padding-bottom: 15px;
    border-bottom: 2px solid #0055BD;
    font-weight: 500;
    font-size: 1.25em;
}

div.maincontent div.announcement span{
	text-decoration: underline;
	color: #0055BD;
}

div.maincontent div.welcome{
    margin-top:8%;
}

div.maincontent div.welcome span{
    font-size: 1.1em;
    font-weight: 500;
}

div.maincontent p{
    font-size: 0.95em;
}

div.maincontent div.announcement span:hover{
    cursor: pointer;
}



