/*main content part <评教　开启＋关闭>*/
div.evaluation-list > h4{
    font-size: 100%;
}

div.row.evaluation-list-ta{
    margin: 0;
}

div.row.evaluation-list-ta > h5{
    font-size: 90%;
}

div.row.evaluation-list-ta > h5:first-child{
    text-align: center;
}

/*evaluation_ta_list part*/
div.talist{
    margin: 0;
}


/*evaluation_ta_list maincontent part*/
div.row.talist.schema{
    border-top: 2px solid #0055BD;
    border-bottom: 2px solid #0055BD;
}
div.row.talist.schema > h5{
    font-size: 110%;
}
div.row.talist.main > h5.col-sm-1.state{
    color: forestgreen;
}

/*ta evaluation part <评教 开启>*/


/*ta evaluation part <评教 关闭>*/



