/*Evaluation Setup*/
h4.description{
    font-size: 100%;
}

/*feedback close part*/



/*main content part*/



/*Search part is here*/

/*Search for course*/
div.row.search_course, div.row.search_ta{
    margin: 2% 0 0 0;
    border-top: 2px solid #0055BD;
    border-bottom: 2px solid #0055BD;
}
h5.col-sm-1, h5.col-sm-2, h5.col-sm-3{
    font-size: 100%;
}
h5.col-sm-1{
    width: 12%;
}
h5.col-sm-2{
    width: 16%;
}
h5.col-sm-3{
    width: 22%;
}
h5.sub{
	font-size: 85%;
}


/*Course Description*/

div.row.course_info, .feedback_list, .ta_list, .student_list{
	width: auto;
	height: auto;
	margin: 0;
	background-color: #eee;
	box-shadow: 0 0 2px #002b60;
	border-radius: 5px;
    overflow: auto;
}
div.feedback_list, .ta_list, .student_list{
    padding: 1em;
}
div.student_list > h4{
    font-size: 0.9em;
}
div.row.course_info > h5{
	font-size: 100%;
}
h4.title.course{
    font-size: 120%;
}



/*TA Description*/
div.ta_course_info{
    border-bottom: 2px solid #0055BD;
    border-top: 2px solid #0055BD;
}




