/* CSS Document 全局样式*/
body,li,ul,ol,b,div,p,span,img,table,tr,td,h1,h2,h3,h4,h5{ margin:0; padding:0; font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif; font-size:14px; list-style:none; list-style-type:none;}
body{ background-color:#F0F0F0; max-width:1080px; margin:0 auto; padding:5px;}
a{ text-decoration:none; color:#666666}
.hide{ display:none}
.w980 { max-width:980px;} .w1080{ max-width:1080px;}
.h20{ height:20px;}.h5{ height:5px;}.h10{ height:10px;}.h15{ height:15px;}.h25{ height:25px;}.h30{ height:30px;}.h40{ height:40px;}
input { margin:0; padding:0;}
.top{ max-width:1080px; margin:0 auto; height:100px;}
.top .logo { width:520px; float:left;}
.top .logo img{ margin-top:10px;}
.top .userinfo { min-width:100px; float:right; height:100px; text-align:right;}
.top .userinfo p{ float:right; width:100%; height:100px; line-height:100px; vertical-align:top;}
.top .userinfo p span{ float:right; margin-left:20px; font-size:15px;}
.main{ max-width:1080px; margin:0 auto;}
.main .content {  background-color: #fff;  padding: 10px;  border-radius: 5px;  border: 1px solid #ccc; line-height:25px;}
.left{ float:left;} .right{ float:right;}
#home .top{ max-width:980px;}
#home .main { max-width:980px;}
.clear { clear:both;}
.bottom { max-width:980px; margin: 0 auto;clear: both;bottom: 10px;height: 100px;color: #eee; padding-top:50px; }
.bottom span{width: 100%;line-height:20px;  text-indent: 10px;  margin-top: 10px;  float: left; color:#666;}
@media screen and (max-width:750px){
.top .userinfo p span { float:left; border:1px solid #eee; border-radius:5px; width:160px; height:40px; background-color:#F90; color:#CCC; text-align:center;}
.top .userinfo p { line-height:40px;}
.notice { line-height:45px !important;} 
#home .main .list-left { width:100% !important;}
#home .main .right-nav { width:100% !important;}
#home .main .right-nav span{ width:100% !important; height:25px; line-height:25px; text-align:center;}
}
@media screen and (min-width: 750px) and (max-width: 1000px){
#home .main .right-nav { width:300px !important; float:left !important}
#home .main .right-nav span{ width:100% !important; height:25px; line-height:25px; text-align:center;}
}