@charset "UTF-8";
/* CSS Document Tools*/
*{ font-family:Verdana, Geneva, sans-serif}
.tool{ min-height:400px}
.tool div{ float:left; width:200px; height:60px; line-height:60px; text-align:center; margin:10px 20px 10px 0;}
.tool a span{ float:left; width:100%; height:100%; cursor:pointer; color:#fff; font-size:15px;}











