@charset "utf-8";
/* CSS Document */

body{ background:#18345C url(/ji_style/image/light.png) center 0 no-repeat;font-family:Verdana, Geneva, sans-serif}
input{font-family:Verdana, Geneva, sans-serif}
.top { max-width:250px; text-align:center; margin:0 auto; margin-top:40px;}
.top img { width:160px;}
.form { max-width:250px; margin:0 auto; margin-top:30px;}
.form form input[type='text'],.form form input[type='password'] { width:100%; margin-top:22px; border-radius:5px; border:1px solid #ccc; height:35px; line-height:35px; background-color:#eee; text-indent:10px;}
.form form input[type='submit']{width:100%; margin-top:22px; border-radius:5px; border:1px solid #ccc; height:45px; line-height:35px; background: #fbcc46;  border: 1px solid #bc7c34; text-align:center;font-size: 16px;  font-weight: bold;  color: #18345C; cursor:pointer}
form b{color:#eee; width:100%; text-align:center;}
.form span{ line-height:60px; float:left; color:#999; text-decoration:none}
.go a{ text-align:center; width:100%; height:80px; line-height:80px; margin-top:30px; color:#fff; font-size:22px; text-decoration:none; float:left; border: 1px solid #ccc; border-radius:5px; }
.go p{ color:#C90}

#passwordfail { display:none;}
#submit { display:none;}